:root {
	--clr-primary-dark-blue: #22345f;
	--clr-theme-light-blue: #089bab;
	--clr-dark-text: #363031;
	--clr-gray: #818383;
	--clr-gray-dark: #444a58;
	--clr-white: #ffffff;
	--clr-lightgreen: #eefbfa;
	--clr-background: #f7f7f7;
	--clr-border: rgba(0, 0, 0, 0.125);
	--clr-border-mobile: rgba(8, 155, 171, 0.2);
	--box-shadow: 0 8.05634px 22.8263px -7.38498px rgb(65 62 101 / 7%);
	--bg-light-blue: linear-gradient(
		169.04deg,
		#e9f6f7 8.11%,
		rgba(183, 242, 246, 0.53125) 72.82%,
		rgba(183, 238, 242, 0) 102.02%
	);

	--ff-primary-body: "Helvetica-Neue-SKY-Reg", Fallback, sans-serif;
	--ff-primary-heading: "Helvetica-Neue-SKY-Bd", Fallback, sans-serif;

	--ff-body: var(--ff-primary-body);
	--ff-heading: var(--ff-primary-heading);

	--fw-regular: 400;
	--fw-bold: 700;

	--br-size: 0.25rem;
}

$transition-time: all 500ms;
@mixin easeInOut {
	transition: all 0.3s ease-in-out;
}

// Reset Default
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font-family: inherit;
}

ul[role="list"],
ol[role="list"],
.widget {
	list-style: none;
}

:active,
:focus {
	outline: none !important;
}

html:focus-within {
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
	scroll-behavior: initial !important;
	scroll-padding-top: 1.5rem;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img,
picture,
svg {
	max-width: 100%;
	display: block;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

input,
.btn,
select {
	&:focus,
	&:focus,
	&:focus,
	&:focus:not(:focus-visible) {
		box-shadow: none !important;
	}

	&::placeholder {
		color: #989898;
		font-size: 14px !important;
	}
}

.rounded-right {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0.25rem !important;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0.25rem !important;
}

.rounded-left {
	border-top-left-radius: 0.25rem !important;
	border-top-right-radius: 0 !important;
	border-bottom-left-radius: 0.25rem !important;
	border-bottom-right-radius: 0 !important;
}

ul,
ol,
.widget {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: var(--clr-primary-dark-blue);

	&:hover,
	&:focus {
		color: var(--clr-theme-light-blue);
		text-decoration: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--ff-heading);
	letter-spacing: 0.02em;
}

.col-md.content-area,
.sidebar-area {
	overflow: hidden;
}

// Page Wrapper
.page-wrapper {
	padding-top: 1.5rem;
	padding-bottom: 1.875rem;
	min-height: 55vh;
}

// Custom Icon Tabeeb
[class^="icon-"],
[class*=" icon-"] {
	font-family: "icomoon" !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	cursor: pointer;
	@include easeInOut();
}

.icon-search:before {
	content: "\e9d2";
}

.icon-chevron-left:before {
	content: "\e934";
	vertical-align: middle;
}

.icon-chevron-right:before {
	content: "\e935";
	vertical-align: middle;
}

// Breadcrumb Page
.page-breadcrumb {
	margin-bottom: 1rem;
	padding-bottom: 0.656rem;

	#breadcrumbs {
		color: var(--clr-gray);
		font-size: 0.875rem;
		letter-spacing: 0;

		a {
			color: var(--clr-gray);

			&:hover {
				color: var(--clr-gray);
			}
		}

		.breadcrumb_last {
			color: var(--clr-dark-text);
		}
	}
}

// White Box Container
.box_container_white {
	background: var(--clr-white);
	border: 1px solid var(--clr-border);
	box-shadow: var(--box-shadow);
	border-radius: 0.75rem;
	padding-top: 1.125rem;

	.section-header {
		font-size: 1.125rem;
	}

	.box-title-with-link {
		margin-bottom: 1rem;
		padding-bottom: 0.656rem;
	}

	.fa {
		font-size: 0.75rem;
	}
}

// Post Grid
.post-grid {
	background: var(--clr-white);
	box-shadow: var(--box-shadow);
	border-radius: 0.75rem;
	padding: 1rem 1rem 1rem 0;

	img {
		border-radius: 0.75rem;
	}

	.card-title {
		font-size: 1.375rem;
		margin-bottom: 1rem;
	}

	p {
		color: var(--clr-gray);
		font-size: 1.125rem;
		line-height: 1.6;
		letter-spacing: 0.02em;
	}
}

// Article Card Box
.card-box {
	.card-title {
		font-size: 1rem;
		line-height: 1.4;
	}

	// Card With Border
	&.card-br {
		article {
			position: relative;
			height: 100%;
		}

		.card {
			border-radius: 0.75rem;
			padding: 0.625rem;
		}
	}
}

.card-list {
	.card-title {
		font-size: 1.25rem;
	}
	p {
		font-size: 0.938rem;
	}
}

// Skeleton placeholder image
.wp-post-image {
	animation: skeleton-loading 1s linear infinite alternate;
	border-radius: var(--br-size);
}
@keyframes skeleton-loading {
	0% {
		background-color: hsl(200, 20%, 70%);
	}
	100% {
		background-color: hsl(200, 20%, 95%);
	}
}

// Primary Category
.post-primary-category {
	background: rgba(64, 152, 211, 0.8);
	border-radius: var(--br-size);
	padding: 0.125rem 0.75rem;
	position: absolute;
	top: 7%;
	right: 7%;
	a {
		color: var(--clr-white);
		font-size: 0.813rem;
		font-family: var(--ff-heading);
		text-shadow: 0 2px 4px rgb(0 0 0 / 20%);
		letter-spacing: 0.02em;
	}
}

// Banner With Left Image
.banner-with-left-img {
	.bg-light-blue {
		background: var(--bg-light-blue);
	}

	.banner-title {
		font-size: 2rem;
		margin-bottom: 1rem;
		line-height: 1.4;
	}

	.btn {
		font-size: 1.125rem;
	}
}

// WPForm
div.wpforms-container-full {
	width: 98%;
	max-width: 600px;

	.wpforms-field-large {
		border-radius: var(--br-size) !important;
		font-size: 0.875rem !important;
	}

	.country-list .choices[data-type*="select-one"]:after,
	.wpforms-datepicker-clear {
		right: auto !important;
		left: 11.5px;
	}

	.choices[data-type*="select-one"] .choices__button {
		margin-right: 0.25rem !important;
	}

	.first-col {
		margin-left: 1% !important;
	}

	.second-col {
		margin-right: 3% !important;
	}

	.half-width {
		width: 48% !important;
	}

	ul {
		li {
			margin-right: 0.5rem !important;
			margin-bottom: 0 !important;
		}
	}

	.wpforms-confirmation-container-full {
		background: transparent;
		border: 0;
		text-align: center;

		p:first-child {
			font-family: "icomoon" !important;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;

			&:before {
				content: "\e930";
				color: var(--clr-theme-light-blue);
				font-size: 70px;
			}
		}
	}

	.wpforms-form button[type="submit"],
	.wpforms-form button[type="submit"].btn-success {
		width: 100%;
		line-height: 1.5;
		background-color: transparent;
		border: 1px solid var(--clr-theme-light-blue);
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		border-radius: 0.25rem;
		transition: all 0.15s ease-in-out;
		&:hover {
			background-color: var(--clr-theme-light-blue);
			border-color: var(--clr-theme-light-blue);
			color: var(--clr-white);
		}
	}
}

// Pagination Page
.pagination {
	.page-item {
		margin: 0 0.5rem;
		.page-link {
			border: none;
			background-color: transparent;
			display: inline-block;
			color: var(--clr-theme-light-blue);
			font-size: 1.125rem;
			text-align: center;
			height: 2rem;
			padding: 0.25rem;
			&:focus {
				box-shadow: none;
			}
		}

		.current {
			border: 1px solid var(--clr-theme-light-blue);
			border-radius: 50%;
			background: var(--clr-theme-light-blue);
			color: var(--clr-white);
			font-family: var(--ff-heading);
			min-width: 2rem;
			margin: 0;
			cursor: default;
			@include easeInOut();

			&:hover {
				background: var(--clr-white);
				color: var(--clr-gray);
			}
		}

		.icon-chevron-right,
		.icon-chevron-left {
			font-size: 1.25rem;
			padding-top: 1px;
		}
	}
}

// Media Query Mixins
@mixin mediaSm {
	@media screen and (max-width: 576px) {
		@content;
	}
}

@mixin mediaMd {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin mediaLg {
	@media screen and (max-width: 992px) {
		@content;
	}
}

@mixin mediaXl {
	@media screen and (max-width: 1200px) {
		@content;
	}
}
