// Widescreens
@include mediaXl {
	.header-wrapper {
		.mx-lg-5 {
			margin-left: 2rem !important;
			margin-right: 2rem !important;
		}

		#mega-menu-wrap-desktop
			#mega-menu-desktop
			> li.mega-menu-item.mega-btn-call-doctor {
			margin-left: 0 !important;
			margin-right: 0 !important;

			a.mega-menu-link {
				font-size: 0.875rem;
				padding-left: 0.25rem !important;
				padding-right: 0.25rem !important;
			}
		}
	}
}

// Disktops & Laptops
@include mediaLg {
	body::before {
		height: 50px;
	}
	.card-list {
		.card-title {
			font-size: 1.25rem;
		}
	}

	.page-wrapper {
		padding-top: 1rem;
	}

	.header-wrapper {
		.navbar {
			height: 50px;
		}

		.navbar-brand {
			max-width: 85px;
		}
	}

	.category-custom_page {
		.section-a .posts {
			& > article:nth-of-type(1) {
				h1 {
					font-size: 1.625rem;
				}

				p {
					font-size: 1rm;
				}
			}

			.card {
				.card-title {
					font-size: 1rem;
				}

				.card-text p {
					font-size: 0.875rem;
					overflow: hidden;
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					text-overflow: ellipsis;
				}
			}
		}
	}

	.single-post {
		.author-meta .avatar {
			width: 50px;
			height: 50px;
			margin-left: 0.625rem;
		}

		.article-content {
			div#ez-toc-container ul a {
				font-size: 1rem;
			}
		}
	}

	.author-page {
		.user-tabs-info .nav-link {
			padding-left: 2.5rem;
			padding-right: 2.5rem;
		}
	}

	.thumbnails-img img {
		width: 100%;
	}
}

// Tablets & Small Laptops
@include mediaMd {
	.card-box,
	.card-list {
		img {
			width: 100%;
			object-fit: cover;
		}
	}

	.page-wrapper {
		min-height: fit-content;
	}

	.case-search-form {
		padding: 0.75rem;

		.search-field {
			padding-left: 0.5rem;
			padding-right: 0.5rem;
		}
	}

	.banner-with-left-img {
		.banner-title {
			font-size: 1.625rem;
		}
	}

	.category-custom_page {
		.section-a .posts {
			grid-template-areas:
				"large0 regular1"
				"regular2 regular3";

			& > article:nth-of-type(1) {
				h1 {
					font-size: 1rem;
					line-height: 1.2;
					margin-bottom: 0.5rem;
				}
				p {
					font-size: 0.875rem;
				}

				img {
					height: 195px;
				}
			}

			.card {
				.img-fluid img {
					width: 100%;
					height: 195px;
					object-fit: cover;
				}
			}

			.row [class*="col-"] {
				width: 100% !important;

				.card-body {
					padding: 1rem 0.25rem 0 !important;
				}
			}
		}

		.section-e {
			.d-flex {
				.newsletter {
					width: 65vw;
				}
			}
		}
	}

	.alphabetical-page {
		.hero-section {
			height: 260px;

			.hero-content {
				.alphabetical-letters {
					padding-top: 1.25rem;
					padding-bottom: 1.25rem;
				}

				.alphabeta {
					grid-gap: 0.875rem;
				}
			}
		}
	}

	.author-page {
		.user-info {
			img {
				max-width: 160px;
			}

			.user-meta p {
				font-size: 0.938rem;
				margin-bottom: 0.5rem;
			}
		}

		.user-tabs-info .nav-link {
			font-size: 1.125rem;
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}

		.user-tabs-content iframe {
			height: 350px !important;
		}
	}

	.sidebar-area {
		.sidebar-container {
			width: 100%;
			margin-left: auto;
		}
	}
}

// Smartphones
@include mediaSm {
	.container {
		padding-right: var(--bs-gutter-x, 0.938rem);
		padding-left: var(--bs-gutter-x, 0.938rem);
	}

	.lg-header {
		font-size: 1.4rem;
	}

	.section-box-header {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	.box_container_white {
		padding-right: var(--bs-gutter-x, 0.75rem);
		padding-left: var(--bs-gutter-x, 0.75rem);
		.section-header {
			font-size: 0.938rem;
		}

		.btn {
			font-size: 0.75rem;
		}

		.fa {
			font-size: 0.5rem;
		}
	}

	.banner-with-left-img {
		.btn {
			width: 100%;
		}
	}

	.card-box {
		&.card-br {
			.border-green,
			.most-search {
				padding: 0.25rem 0.25rem 0;

				img {
					border-radius: 0.5rem;
				}

				.card-title {
					font-size: 0.875rem;
					line-height: 1;
				}
			}
		}
	}

	.post-grid {
		padding: 0.625rem;

		img {
			width: 100%;
		}

		.card-title {
			font-size: 1.125rem;
		}

		p {
			font-size: 1rem;
			line-height: 1.4;
			margin-bottom: 0;
		}
	}

	.banner-section {
		.btn {
			width: 100%;
		}
	}

	.category-custom_page {
		.section-a .posts {
			grid-template-areas:
				"large0"
				"regular1"
				"regular2"
				"regular3";
			padding: 0.669rem;

			& > article:nth-of-type(1) {
				h1 {
					font-size: 1.25rem;
					line-height: 1.2;
				}

				img {
					height: fit-content;
				}
			}

			.card {
				.img-fluid img {
					width: 100%;
					height: fit-content;
					object-fit: cover;
				}

				.card-title {
					font-size: 1.25rem;
				}
			}
		}

		.section-e {
			.d-flex {
				background: transparent;
				padding: 0.669rem;

				&::after {
					background: rgba(235, 247, 248, 0.9);
				}

				.newsletter {
					background: transparent;
					box-shadow: none;
					width: 100%;
					padding: 1rem 0;

					h3 {
						line-height: 1.4;
						padding-bottom: 0.5rem;
					}

					input,
					.btn {
						font-size: 1rem;
					}

					.btn {
						height: 100%;
						padding: 0.5rem;
					}
				}
			}
		}
	}

	.alphabetical-page {
		.hero-section {
			.hero-content {
				.alphabetical-letters {
					.fs-5 {
						font-size: 1rem !important;
					}
					.title-with-bottom-br {
						font-size: 0.938rem;
					}

					.alphabeta {
						grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));

						a {
							font-size: 0.75rem;
							padding: 0.25rem;
							border-radius: 8px;
						}
					}
				}
			}
		}

		main {
			margin-top: 13rem;
		}
	}

	.single-post {
		.article-title-main {
			font-size: 1.563rem;
		}

		.article-img {
			.d-flex {
				font-size: 0.75rem;
				line-height: 25px;
			}
		}

		.article-content {
			font-size: 1.094rem;
			letter-spacing: 0;

			div#ez-toc-container ul a {
				border-width: 1px;
			}

			h2,
			h3,
			h4,
			h5 {
				line-height: 1.5;
				letter-spacing: 0.01em;
			}
			h2 {
				font-size: 1.188rem;
			}

			h3 {
				font-size: 1.25rem;
			}

			h4 {
				font-size: 1.125rem;
			}

			h5 {
				font-size: 1.063rem;
			}

			p {
				margin-top: 1.125rem;
				margin-bottom: 1.125rem;
			}

			figcaption {
				font-size: 0.75rem;
				line-height: 25px;
			}
		}
	}

	.thanks-page main {
		height: 230px;
	}

	.page-static-wrapper {
		main {
			font-size: 1rem;
			line-height: 2;
			background: transparent;
			border: none;
			box-shadow: none;
			padding: 0;

			p {
				margin-bottom: 1rem;
			}
		}
	}

	.tabeeb-users-page {
		main {
			background-color: transparent;
			border: none;
			box-shadow: none;
			padding: 0;
		}
	}

	.author-page {
		.user-info {
			.author-name {
				font-size: 1.375rem;
			}
			img {
				max-width: 195px;
				margin-left: auto;
				margin-right: auto;
			}

			.doctor-profile {
				max-width: 195px;
				margin-left: auto;
				margin-right: auto;

				img {
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}

				.author-socials {
					display: flex !important;
					justify-content: center !important;
					border: 1px solid var(--clr-gray-br);
					border-top: 0;
					border-top-left-radius: 0;
					border-top-right-radius: 0;
					border-bottom-left-radius: 0.875rem;
					border-bottom-right-radius: 0.875rem;

					.nav-link {
						background: transparent;

						.fa {
							color: #c7c7c7;
						}
					}
				}
			}

			.user-meta p {
				font-size: 0.938rem;
				margin-bottom: 0.75rem;
			}
		}

		.user-tabs {
			background: #f9f9f9;
			padding-top: 1.25rem;
			padding-bottom: 1.25rem;
			overflow-x: scroll;
			-ms-overflow-style: none;
			scrollbar-width: none;

			// Hide Scrollbar for Chrome, Safari & Opera
			&::-webkit-scrollbar {
				display: none;
			}

			.container {
				width: 100%;
				padding-left: 0;
				padding-right: 0;
			}

			.user-tabs-info {
				background: transparent;
				border: 0;
				width: max-content;

				.nav-item:first-child {
					.nav-link {
						margin-right: 0.875rem;
					}
				}
			}

			.nav-link {
				background: var(--clr-white);
				border: 1px solid #e3e3e3;
				border-radius: 30px;
				font-size: 1rem;
				padding: 8px 16px;
				margin-left: 0.875rem;
				margin-right: 0.25rem;

				&.active {
					background: var(--clr-theme-light-blue);
					border-color: var(--clr-theme-light-blue);
					color: var(--clr-white);
				}
			}
		}

		.user-tabs-container {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
			.user-tabs-content {
				border-width: 1px 0px 1px 0px;
				border-radius: 0;
				font-size: 1rem;
				line-height: 1.8;
			}
		}
	}
}
