// Widescreens
@include mediaXl {
}

// Disktops & Laptops
@include mediaLg {
	body::before {
		height: 50px;
	}

	.page-wrapper {
		padding-top: 1rem;
	}

	.header-wrapper {
		.navbar {
			height: 50px;
		}
		.navbar-brand {
			max-width: 85px;
		}
	}

	.category-custom_page {
		.section-a .posts {
			& > article:nth-of-type(1) {
				h1 {
					font-size: 1.625rem;
				}

				p {
					font-size: 1rm;
				}
			}

			.card {
				.card-title {
					font-size: 1rem;
				}

				.card-text p {
					font-size: 0.875rem;
					overflow: hidden;
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					text-overflow: ellipsis;
				}
			}
		}
	}
}

// Tablets & Small Laptops
@include mediaMd {
	.page-wrapper {
		min-height: fit-content;
	}
	.banner-with-left-img {
		.banner-title {
			font-size: 1.625rem;
		}
	}

	.category-custom_page {
		.section-a .posts {
			& > article:nth-of-type(1) {
				p {
					font-size: 0.938rem;
				}
			}

			.card {
				.card-text p {
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					text-overflow: ellipsis;
				}
			}
		}

		.section-e {
			.d-flex {
				.newsletter {
					width: 65vw;
				}
			}
		}
	}
}

// Smartphones
@include mediaSm {
	.container {
		max-width: 550px;
		width: calc(100vw - 40px);
		padding: 0;
	}

	.box_container_white {
		.section-header {
			font-size: 0.938rem;
		}

		.btn {
			font-size: 0.75rem;
		}

		.fa {
			font-size: 0.5rem;
		}
	}

	.banner-with-left-img {
		.btn {
			width: 100%;
		}
	}

	.post-grid {
		padding: 0.625rem;

		img {
			width: 100%;
		}

		.card-title {
			font-size: 1.125rem;
		}

		p {
			font-size: 1rem;
			line-height: 1.4;
			margin-bottom: 0;
		}
	}

	.category-custom_page {
		.section-a .posts {
			grid-template-areas:
				"large0"
				"regular1"
				"regular2"
				"regular3";
			padding: 0.669rem;

			& > article:nth-of-type(1) {
				h1 {
					font-size: 1.25rem;
					line-height: 1.2;
					margin-bottom: 0.5rem;
				}
			}

			.card {
				.card-title {
					font-size: 1.25rem;
				}

				.card-text p {
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					text-overflow: ellipsis;
				}
			}
		}

		.section-e {
			.d-flex {
				background: transparent;
				padding: 0.669rem;

				&::after {
					background: rgba(235, 247, 248, 0.9);
				}

				.newsletter {
					background: transparent;
					box-shadow: none;
					width: 100%;
					padding: 1rem 0;

					h3 {
						line-height: 1.4;
						padding-bottom: 0.5rem;
					}

					input,
					.btn {
						font-size: 1rem;
					}

					.btn {
						height: 100%;
						padding: 0.5rem;
					}
				}
			}
		}
	}

	.page-static-wrapper {
		main {
			font-size: 1rem;
			line-height: 2;
			background: transparent;
			border: none;
			box-shadow: none;
			padding: 0;

			p {
				margin-bottom: 1rem;
			}
		}
	}
}
