@import "config";
body {
	direction: rtl;
	background: var(--clr-background);
	color: var(--clr-dark-text);
	font-family: var(--ff-body);
	line-height: 1.5;

	&::before {
		display: block;
		content: "";
		height: 56px;
	}
}

.header-wrapper {
	@include easeInOut();

	&.hide {
		top: -60px;
	}
	&.stay-top {
		top: 0 !important;
	}

	.navbar-brand {
		max-width: 95px;
		margin-right: 0;
		margin-left: 0;
	}

	.light-fade {
		opacity: 0.35 !important;
	}

	.menu__toggler {
		border: 0;
		position: relative;
		outline: none !important;
		cursor: pointer;
		display: flex;
		align-items: center;
		outline: none;
		z-index: 999;

		&:focus {
			box-shadow: none;
		}

		span,
		span::before,
		span::after {
			position: absolute;
			content: "";
			width: 28px;
			height: 2px;
			left: 0;
			background: var(--clr-white);
			border-radius: 20px;
			transition: $transition-time cubic-bezier(0.77, 0, 0.175, 1);
		}

		span::before {
			top: -9px;
		}

		span::after {
			top: 9px;
		}

		&.active > span {
			background: transparent;
		}

		&.active > span::before,
		&.active > span::after {
			background: var(--clr-lightgreen);
			top: 0px;
		}

		&.active > span::before {
			transform: rotate(-225deg);
		}

		&.active > span::after {
			transform: rotate(225deg);
		}
	}

	// Mobile Menu
	.slide-menu {
		background: var(--clr-white);
		width: 100%;
		height: calc(100vh - 50px);
		margin-top: 50px;

		.custom-item form {
			border-bottom: 1px solid rgba(0, 0, 0, 0.125);
			padding: 1.25rem;
			word-wrap: break-word;
			white-space: normal;
		}

		a {
			border-bottom: 1px solid rgba(0, 0, 0, 0.125);
			font-size: 1.25rem;
			color: var(--clr-primary-dark-blue);
			text-align: right;
			padding: 1.25rem;
			word-wrap: break-word;
			white-space: normal;
			letter-spacing: 0.02em;
		}

		.slide-menu__decorator {
			float: left;

			.icon-chevron-left:before {
				color: var(--clr-primary-dark-blue);
			}
		}

		.tabeeb-icon {
			& > a::before,
			& > .sub-menu .slide-menu__backlink::before {
				content: "";
				display: inline-block;
				width: 24px;
				height: 22px;
				margin-left: 0.375rem;
				vertical-align: text-top;
			}
		}

		.menu {
			.tabeeb-social-icon {
				display: inline-block;
				width: 22.75vw;

				a {
					border-bottom: 0;
					text-align: center;
				}
			}

			.bottom-link {
				a {
					font-size: 1rem;
					padding: 14px 20px;
				}
			}

			.bottom-link-first a {
				border-top: 1px solid rgba(0, 0, 0, 0.125);
			}

			.disabled {
				a {
					font-size: 0.75rem;
					text-align: center;
					padding: 1rem 0 0.5rem;
					cursor: default;
				}
			}
		}

		.sub-menu {
			.slide-menu__backlink {
				border-bottom: none;
				color: var(--clr-theme-light-blue);
				font-size: 1.5rem;
				text-align: center;
				margin-bottom: 0;
				padding-bottom: 0;

				span {
					float: right;
					color: var(--clr-primary-dark-blue);
					font-size: 1.375rem;
					height: inherit;
					line-height: inherit;
				}
			}

			.menu-item {
				margin-bottom: 8px;
				padding-left: 20px;
				padding-right: 20px;

				a {
					border-bottom: none;
					font-size: 1.063rem;
					cursor: pointer;
					padding: 8px 10px 8px 0;
				}
			}

			.link-with-br {
				padding: 0;
				margin: 0;

				a {
					border-bottom: 1px solid rgba(0, 0, 0, 0.125);
					font-family: var(--ff-heading);
					font-size: 1rem;
					margin-bottom: 20px;
					margin-top: 20px;
					padding: 0 1.25rem 0.75rem;
					position: relative;

					&::before {
						content: "الكل";
						font-family: "HelveticaReg", Arial, sans-serif !important;
						font-size: 0.875rem !important;
						margin: 0rem 0 0 1.25rem !important;
						color: var(--clr-theme-light-blue) !important;
						cursor: pointer;
						position: absolute;
						left: 20px;
						top: 1px;
					}

					&::after {
						content: "\e934";
						font-family: icomoon !important;
						font-style: normal;
						font-variant: normal;
						text-transform: none;
						line-height: inherit;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						cursor: pointer;
						transition: all 0.5s ease;
						float: left;
						vertical-align: middle;
						color: var(--clr-theme-light-blue);
					}
				}
			}
		}
	}

	.search-form-desktop {
		display: none;
		border: 0;
		border-radius: var(--br-size);
		position: absolute;
		top: 50%;
		left: 5px;
		transform: translateY(-50%);
		width: 300px;
		height: 35px;
		opacity: 0;
		overflow: hidden;
		outline: none;
		overflow: hidden;
		outline: none;
		backface-visibility: hidden;
		z-index: 999;
		@include easeInOut();

		&.active {
			display: block;
			opacity: 1;
		}
		input[type="search"] {
			padding-left: 2.5rem;
			cursor: default;
		}
	}

	.icon {
		color: var(--clr-white);
		position: relative;
		z-index: 1000;

		&.active-open {
			color: var(--clr-theme-light-blue);
			font-size: 1.25rem !important;
		}
	}

	.live-search-result {
		display: none;
		position: absolute;
		top: 100%;
		left: 5px;
		width: 300px;
		min-height: 0.00001px;
		background-color: var(--clr-white);
		border-radius: 0px 0px 6px 6px;
		box-shadow: 0px 4px 10px 0px rgb(0 0 0 / 15%);
		overflow: hidden;
		outline: none;
		backface-visibility: hidden;
		transform-origin: center 0 0;
		z-index: 1000;
	}
}

.category-custom_page {
	.section-a .posts {
		display: grid;
		grid-template-areas:
			"large0 regular1"
			"large0 regular2"
			"large0 regular3";
		grid-gap: 1rem;
		padding-bottom: 1.125rem;

		& > article:nth-of-type(1) {
			grid-area: large0;

			h1 {
				font-size: 1.75rem;
				margin-bottom: 1.25rem;
				word-wrap: break-word;
				white-space: normal;
			}

			p {
				font-size: 1.063rem;
				letter-spacing: 0.02em;
				color: var(--clr-gray);
			}
		}

		& > article:nth-of-type(2) {
			grid-area: regular1;
		}

		& > article:nth-of-type(3) {
			grid-area: regular2;
		}

		& > article:nth-of-type(4) {
			grid-area: regular3;
		}

		.card {
			.card-title {
				font-size: 1.125rem;
			}

			.card-text p {
				font-size: 0.938rem;
				line-height: 1.6;
			}
		}
	}

	.section-e {
		.d-flex {
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			position: relative;

			&::after {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(
					0deg,
					rgba(8, 155, 171, 0.7),
					rgba(8, 155, 171, 0.7)
				);
				z-index: 1;
			}

			& > * {
				position: relative;
				z-index: 2;
			}

			h2,
			h3 {
				font-family: var(--ff-body);
			}

			h2 {
				font-size: 2.5rem;
				line-height: 89px;
				color: var(--clr-white);
				padding: 0.5rem;
			}

			.newsletter {
				background: var(--clr-lightgreen);
				box-shadow: 0px 12px 22px -7.38498px rgba(65, 62, 101, 0.12);
				border-radius: 0.75rem;
				width: 50%;
				padding: 1rem 2rem 2rem;

				h3 {
					font-size: 1.375rem;
					line-height: 37px;
					color: var(--clr-primary-dark-blue);
					padding: 0.5rem 0.5rem 1rem;
				}
			}
		}
	}
}

.alphabetical-page {
	.hero-section {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: 350px;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(
				0deg,
				rgba(8, 155, 171, 0.5),
				rgba(8, 155, 171, 0.5)
			);
		}

		.hero-content {
			position: relative;
			letter-spacing: 0.02em;
			z-index: 2;

			.hero-title {
				font-family: var(--ff-body);
			}

			.alphabetical-letters {
				background: var(--clr-lightgreen);
				box-shadow: var(--box-shadow);
				border-radius: 0.75rem;
				width: 100%;
				max-width: 800px;
				padding: 2rem 1rem;

				input,
				.icon-search {
					border: none;
					outline: none;
					box-shadow: var(--box-shadow);
					cursor: pointer;
				}

				input {
					border-top-right-radius: 0.5rem !important;
					border-bottom-right-radius: 0.5rem !important;
					border-top-left-radius: 0 !important;
					border-bottom-left-radius: 0 !important;
					font-size: 1rem;
					letter-spacing: 0.02em;
					color: var(--clr-gray);
				}

				.icon-search {
					border-top-left-radius: 0.5rem !important;
					border-bottom-left-radius: 0.5rem !important;
					border-top-right-radius: 0 !important;
					border-bottom-right-radius: 0 !important;
				}

				.title-with-bottom-br {
					border-bottom: 1px solid var(--clr-gray-br);
					color: var(--clr-theme-light-blue);
					position: relative;

					&::after {
						content: "";
						width: 96px;
						height: 3px;
						background: var(--clr-theme-light-blue);
						display: block;
						position: relative;
						bottom: -2px;
						right: 0;
					}
				}
			}

			.alphabeta {
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(35px, 1fr));
				justify-content: center;
				align-items: center;
				text-align: center;
				grid-gap: 1.25rem;
				padding: 0.5rem 0;

				a {
					background: var(--clr-white);
					border: 1.32613px solid #e7e7e9;
					box-shadow: 0px 5px 0px rgb(0 0 0 / 20%);
					border-radius: 0.625rem;
					color: var(--clr-primary-dark-blue);
					font-size: 0.875rem;
					font-family: var(--ff-heading);
					padding: 0.375rem;
					outline: none;
					transition: all 0.1s ease-in-out;
					cursor: pointer;

					&:hover {
						background: var(--clr-gray-hover);
					}

					&:active,
					&:focus {
						box-shadow: 0px 2px 0px rgb(0 0 0 / 20%);
						transform: translateY(2px);
					}
				}
			}
		}
	}

	main {
		min-height: 25vw;
		margin-top: 8.5rem;

		.tabeeb-cases {
			background: var(--clr-white);
			border: var(--clr-border);
			box-shadow: var(--box-shadow);
			border-radius: 0.75rem;
			padding: 1rem;
			margin-bottom: 1.5rem;
			overflow: hidden;

			h2 {
				display: flex;
				color: var(--clr-theme-light-blue);
				flex-direction: row;
				font-size: 1.375rem;
				font-family: var(--ff-body);
				letter-spacing: 0.02em;
				margin-bottom: 1rem;

				&::after {
					content: "";
					flex: 1 1;
					border-bottom: 1px solid var(--clr-gray-br);
					margin: auto 0.5rem auto 0;
				}
			}

			.cases {
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
				grid-gap: 1.25rem;

				.tabeeb-case {
					font-size: 1rem;
					font-family: var(--ff-body);
					line-height: 1.5;
				}
			}
		}

		:target {
			border: 2px solid var(--clr-theme-light-blue);
		}
	}
}

// Single Post
.single-post {
	#breadcrumbs {
		.breadcrumb_last {
			display: none;
		}
	}

	.article-title {
		line-height: 1.4;
	}

	.author-meta {
		color: var(--clr-gray);
		font-size: 0.875rem;
		line-height: 20px;

		.avatar {
			border-radius: 50%;
			width: 57px;
			height: 57px;
			margin-left: 0.75rem;
		}

		a {
			color: var(--clr-theme-light-blue);
		}

		.posted-date,
		.last-update {
			font-size: 0.813rem;
		}

		.author-sponsored {
			font-size: 1.125rem;
		}

		.sponsored-logo {
			width: 114px;
		}
	}

	.article-img {
		margin: 0.75rem 0 1.375rem;
		img {
			border-radius: 0.5rem 0.5rem 0px 0px;
			width: 100%;
		}
		.d-flex {
			background-color: var(--clr-bg-image);
			color: var(--clr-gray-light);
			font-size: 0.875rem;
			line-height: 34px;
			letter-spacing: 0.02em;
			padding: 0 0.25rem;
		}
	}

	.article-content {
		color: var(--clr-dark-text);
		font-size: 1.125rem;
		line-height: 32px;
		letter-spacing: 0.02em;
		word-wrap: break-word;
		white-space: normal;

		div#ez-toc-container {
			border: none;
			box-shadow: none;
			border-radius: 0;
			padding: 0;
			ul {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				li {
					line-height: 1.1;
					&::before {
						display: none;
					}
				}
				a {
					border-left: 2px solid #bcbfc5;
					display: inline-block;
					font-size: 1.188rem;
					font-family: var(--ff-heading);
					margin: 0.5rem 0 0.5rem 0.5rem;
					padding-left: 0.75rem;
					&:hover {
						text-decoration: none;
						color: var(--clr-primary-dark-blue);
					}
				}
				li:first-child a {
					padding-right: 0;
				}
				li:last-child a {
					border-left: none;
					margin-left: 0;
					padding-left: 0;
				}
			}
		}

		h2,
		h3,
		h4,
		h5,
		h6 {
			line-height: 1.8;
			margin-bottom: 0.0875rem;
			margin-top: 2rem;
		}

		h2 {
			font-size: 1.375rem;
		}
		h3 {
			font-size: 1.5rem;
		}
		h4 {
			font-size: 1.313rem;
		}
		h5 {
			font-size: 1.125rem;
		}
		p {
			margin-top: 1.25rem;
			margin-bottom: 1.25rem;
		}

		a {
			color: var(--clr-theme-light-blue);
			&:hover {
				color: var(--clr-primary-dark-blue);
			}
		}

		figure {
			margin-top: 1.625rem;
			margin-bottom: 1.625rem;
		}
		figcaption {
			background-color: var(--clr-bg-image);
			font-size: 0.875rem;
			line-height: 34px;
			margin-bottom: 0;
			margin-top: 0;
			padding: 0 0.25rem;
		}

		ul,
		ol {
			list-style: disc;
			padding-right: 2rem;

			li {
				margin-bottom: 0.5rem;

				&::marker {
					color: var(--clr-theme-light-blue);
					font-size: 1.25rem;
				}

				> ul {
					list-style: circle;
					margin-top: 0.5rem;
					margin-bottom: 0.5rem;
				}
			}
		}

		table {
			margin-left: 6px;
			margin-right: 6px;
			width: calc(100% - 12px);
			font-size: 0.938rem;

			td,
			th {
				overflow-wrap: break-word;
				word-break: break-word;
				word-wrap: break-word;
				padding: 8px 10px 6px;
				vertical-align: center;
				min-width: 100px;
				border-right: 1px solid #ddd;
				border-bottom: 1px solid #ddd;
			}

			thead tr:first-child,
			tbody tr:first-child {
				font-family: var(--ff-heading);

				td {
					min-width: 140px;
					border-bottom: 2px solid #767474;
					text-align: center;
					padding-top: 7px;
					padding-bottom: 7px;
				}
			}

			tr:nth-child(even) {
				background: var(--clr-background);
			}
		}

		.schema-faq-section {
			display: none;
		}

		.source-links {
			cursor: pointer;
			color: #b90000;
			font-family: var(--ff-body);
			display: inline-flex;
			margin-top: 1.25rem;

			&::after {
				content: "\e9c2";
				font-family: "icomoon" !important;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				margin-right: 0.5rem;
				-webkit-font-smoothing: antialiased;
			}
			&.minus::after {
				content: "\e9a5";
				font-family: "icomoon" !important;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				margin-right: 0.5rem;
				-webkit-font-smoothing: antialiased;
			}

			& ~ ol,
			& ~ ul {
				list-style: disc;
				display: none;
				color: var(--clr-gray) !important;
				font-size: 0.813rem;
				line-height: 1.7;
				margin-top: 1.25rem;
				margin-bottom: 2rem;

				&::before {
					content: "يتبع طبيب.كوم معايير صارمة بخصوص مصادر المعلومات والتي تعتمد على الأبحاث الأكاديمية و الدراسات الطبية و الجمعيات الطبية المرموقة، كما نتجنب استخدام المصادر من الدرجة الثالثة.";
				}

				li {
					margin-bottom: 1rem;
					line-height: 18px;
					&::marker {
						font-size: inherit;
						color: var(--clr-gray);
					}

					&:nth-child(1) {
						margin-top: 1.25rem;
					}
				}
				a {
					font-size: 0.813rem !important;
					color: var(--clr-gray) !important;
					&:hover {
						color: var(--clr-theme-light-blue);
					}
				}
			}
		}
	}
}

// Static Page
.page-static-wrapper {
	main {
		background-color: var(--clr-white);
		border: 1px solid var(--clr-border);
		box-shadow: 0 8.05634px 22.8263px -7.38498px rgb(65 62 101 / 7%);
		border-radius: 0.75rem;
		padding: 1.25rem;
		font-size: 1.125rem;
		line-height: 2.2;
		letter-spacing: 0.02em;
		word-wrap: break-word;
		white-space: normal;

		h2,
		h3,
		h4 {
			margin-bottom: 0.875rem;
			margin-top: 2.813rem;
		}

		p {
			margin-bottom: 1.625rem;
		}

		ul {
			list-style: disc;
			padding-right: 2rem;
			margin-bottom: 1rem;

			li {
				margin-bottom: 0.5rem;

				&::marker {
					color: var(--clr-theme-light-blue);
				}
			}
		}
	}
}

.tabeeb-users-page {
	main {
		background-color: var(--clr-white);
		border: 1px solid var(--clr-border);
		box-shadow: var(--box-shadow);
		border-radius: 0.75rem;
		padding: 1.25rem 0.75rem;
	}

	.tabeeb-user {
		border-radius: 0.75rem;
		padding: calc(16px - 1px);
		transition: all 0.1s ease-in-out;

		&:hover {
			border: 2px solid var(--clr-theme-light-blue);
			padding: calc(16px - 2px);
		}

		.card-img-top {
			box-shadow: var(--box-shadow);
			width: 100px;
			margin-left: auto;
			margin-right: auto;

			img {
				border-radius: 50%;
			}
		}

		.card-title {
			font-size: 1rem;
			font-family: var(--ff-body);
		}

		.card-text {
			font-size: 0.875rem;
			line-height: 1.6;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			text-overflow: ellipsis;
		}

		.specialty {
			font-family: var(--ff-heading);
		}

		.number-posts {
			font-size: 00.813rem;
		}
	}
}

.author-page {
	.section-box-header {
		img {
			border-radius: 50%;
			max-width: 195px;
		}

		.author-name {
			font-family: var(--ff-heading);
			line-height: 1.2;
		}
	}
}

.sidebar-area {
	.sidebar-container {
		width: 300px;
		margin-right: auto;

		.widget-title {
			background: var(--clr-white);
			box-shadow: var(--box-shadow);
			border-radius: 0.75rem;
			border: 1px solid var(--clr-border);
			color: var(--clr-theme-light-blue);
			font-size: 1.063rem;
			line-height: 1.4;
			margin-bottom: 1rem;
			padding: 0.625rem 0.938rem;
		}

		aside:nth-child(2) {
			background: var(--clr-white);
			box-shadow: var(--box-shadow);
			border-radius: 0.75rem;
			border: 1px solid var(--clr-border);
			margin-top: 3rem;
			padding: 0.938rem;

			.widget-title {
				box-shadow: none;
				border: 0;
				border-radius: 0;
				margin-bottom: 0.5rem;
				padding: 0;
			}
		}
	}
}

.footer-full {
	border-top: 5px solid var(--clr-theme-light-blue);
	line-height: 1.8;
	overflow-wrap: break-word;
	overflow-x: hidden;

	h2,
	h3 {
		font-size: 1.375rem;
		font-family: var(--ff-body);
	}
	.social-icons a {
		font-size: 1.87rem;
		padding-left: 1rem;
		padding-right: 1rem;
		&:last-child {
			padding-left: 0;
		}
		&:first-child {
			padding-right: 0;
		}
		.fa {
			color: var(--clr-gray-dark);
		}
	}
	.news-letter {
		margin-top: 1rem;

		p {
			color: var(--clr-gray);
			font-size: 1.063rem;
		}
		form {
			margin-top: 2rem;
			input,
			.btn {
				font-size: 1.094rem;

				&::placeholder {
					font-size: 1rem !important;
				}
			}
		}
	}
	.textwidget {
		height: 100%;
	}
	.menu {
		line-height: 3.125rem;
		a {
			font-size: 1.125rem;
		}
	}
	.sm-text {
		color: var(--clr-primary-dark-blue);
		line-height: 1.5rem;
	}
}

.footer-wrapper {
	background: var(--clr-gray-dark);
	font-size: var(--fs-300);
}

@import "mobile";
