$clr-theme: #089bab;
$clr-primary: #22345f;
$clr-secondary: #818383;
$clr-light: #eefbfa;
$clr-dark: #363031;

$container-max-widths: (
	xl: 1140px,
	xxl: 1140px,
);

$primary: $clr-primary;
$secondary: $clr-secondary;
$light: $clr-light;
$info: $clr-theme;
$dark: $clr-dark;
$link-hover-color: $clr-theme;
